{% extends "poll/base.html" %}

{% load i18n %}

{% block poll_script %}
<script type="text/javascript">
	var vote_url = '{% url poll_ajax_vote poll.pk %}';
	var result_url = '{% url poll_result poll.pk %}';
	$(document).ready(function() {
		function showResults() {
			$.get(result_url, function(data) {
				$("#poll_container").html(data);
			});			
		}
		$("#poll_send").click(function() {
			item = $('#poll_form input[name=item]:checked').val();
			if (typeof item === "undefined") {
				alert("{% trans "Please, select an answer" %}");
				return false;
			}
			$.get(vote_url, {item: item}, function() {
				showResults();
			});
			return false;
		});
	});
</script>
{% endblock %}

{% block poll_content %}
<div id="poll_container">
	<form class="voting" method="GET" id="poll_form">
		<h3 class="title">{{ poll.title }}</h3>
			<ul>
				{% for i in items %}
				<li><input type="radio" name="item" id="item_{{ i.id }}" value="{{ i.id }}" /> 
					<label for="item_{{ i.id }}">{{ i.value }}</label></li> 
				{% endfor %}
		</ul>
		<span class="blue-button submit">
		    <span>{% trans "Vote" %}</span>
		    <input id="poll_send" type="submit" name="" />
		</span>
	</form>
</div>
{% endblock %}
